<form name="websiteForm" class="pure-form pure-form-aligned">
	<fieldset>
		<legend>Input text for websites urls</legend>
		<label>Type a url with http/s protocol or without it and see the model values
		       next to it and also observe the difference between the "personal
		       website" (non-required) and the "work website" (required)
		</label>

		<div class="pure-control-group">
			<label for="personal"> Personal web site</label>
			<input type="text" id="personal" name="personalWebsite" placeholder="www.myblog.com"
			       data-ng-model="personalWebsiteUrl" data-ifc-website-input>
			&nbsp;
			<span class="pure-form-message-inline">{{personalWebsiteUrl}}</span>
		<span class="pure-form-message-inline" style="color: red"
		      data-ng-show="websiteForm.$error.personalWebsiteUrl">Incorrect
		                                                                            url</span>
		</div>
		<div class="pure-control-group">
			<label for="company"> Company web site</label>
			<input type="text" id="company" name="companyWebsite" placeholder="www.google.com"
			       data-ng-model="companyWebsiteUrl" data-ifc-website-input required>
			&nbsp;
			<span class="pure-form-message-inline">{{companyWebsiteUrl}}</span>
		<span class="pure-form-message-inline" style="color: orange"
		      data-ng-show="websiteForm.companyWebsite.$dirty && websiteForm.companyWebsite.$error.required">
			This filed is required</span>
		<span class="pure-form-message-inline" style="color: red"
		      data-ng-show="websiteForm.companyWebsite.$dirty && websiteForm.$error.companyWebsiteUrl">
			Incorrect url</span>
		</div>
	</fieldset>
</form>